@import '../../../../assets/styles/variable.scss';

.detailRequest {
  display: none;
}

.container {
  .title {
    color: $blue-3;
    font-weight: bold;
  }

  .GB_name {
  }

  .buttonBox {
    display: flex;
    height: max-content;
    overflow: auto;

    .button {
      background-color: $blue-3;
      color: white;
      cursor: pointer;
    }
  }

  .divider {

  }

  .subtitle {
    color: $blue-3;
    font-weight: bold;
  }

  .lobby {
    .lobbyInfo {
      color: $blue-3;
    }
  }

  .audit_material {
  }
}

.materialRequest {
  color: $blue-4;
  font-weight: bold;
  cursor: pointer;
}

// PC
@media screen and (min-width: $mobileWidth) {
  .container {
    width: 1519px;
    padding: 50px 200px 0 200px;

    .title {
      font-size: 4em;
    }

    .GB_name {
      margin: 20px 0;
      font-size: 1.2em;
    }

    .button {
      padding: 7px 15px;
      margin-right: 25px;
      border-radius: 8px;
    }

    .subtitle {
      font-size: 1.5em;
      padding-top: 20px;
      padding-bottom: 10px;
    }

    .ckbllc {
      padding-bottom: 100px;
    }

    .lobby {
      padding-top: 20px;
    }

    .audit_material {
      width: 1125px;
    }
  }
}

// mobile
@media screen and (max-width: $mobileWidth) {
  .container {
    width: 100%;
    padding: 3em 2em;

    .title {
      font-size: 2.5em;
    }

    .GB_name {
      margin: 1em 0;
      font-size: 1.2em;
    }

    .buttonBox {
      .button {
        padding: 0.5em 1em;
        margin-right: 1em;
        border-radius: 0.5em;
        font-size: 1em;
      }
    }

    .divider {
      margin: 2em 0;
    }

    .subtitle {
      font-size: 1.5em;
      margin: 1em;
    }

    .lobby {
      margin: 1em 0;
      width: 100%;
    }

    .audit_material {
      width: 100%;
    }
  }
}

// 打印的样式
@media print {
  .container {
    font-size: 1.5em;

    .title {
      font-size: 4em;
    }

    .GB_name {
      margin: 20px 0 20px 0;
      font-size: 1.2em;
    }

    .button {
      padding: 7px 15px 7px 15px;
      margin-right: 25px;
      border-radius: 8px;
    }

    .subtitle {
      font-size: 2em;
      padding-top: 20px;
      padding-bottom: 10px;
    }

    .ckbllc {
      padding-bottom: 100px;
    }

    .audit_material {
      font-size: 1.5em;
    }

    .lobby {
      padding-top: 20px;
    }

    .mapContainer {
      display: none;
    }

    .materialTableColumn {
      font-size: 1.5em;
    }
  }
}
