@import '../../../../assets/styles/variable.scss';

.container {
  background-color: $alpha-blue;
  display: flex;
  flex-direction: column;

  .widthController {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      color: $blue-3;
    }

    .scoreContainer {
      width: 100%;
      background-color: white;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;

      .top {
        margin-right: auto;

        .rateContainer {
          color: $orange;
        }

        .antRateText {
          justify-self: left;
          align-self: center;
          color: $orange;
        }
      }

      .optionContainer {
        margin-right: auto;
      }

      .textArea {
        width: 100%;
      }

      .btnBox {
        display: flex;
        justify-content: space-around;
        width: 100%;

        .btn {
          outline: none;
          background-color: $blue-3;
          color: white;
          cursor: pointer;
        }

        .commit {
        }
      }
    }
  }
}

// PC
@media screen and (min-width: $mobileWidth) {
  .container {
    width: 1186px;
    border-radius: 20px;
    padding: 20px 48px 40px 48px;
    margin-bottom: 100px;

    .widthController {
      .title {
        font-size: 48px;
      }

      .scoreContainer {
        border-radius: 10px;
        padding: 35px 75px;
        margin-top: 25px;
        border: solid 10px $gray-2;

        .top {
          .rateContainer {
            font-size: 48px;
          }

          .antRateText {
            margin-left: 25px;
            font-size: 28px;
          }
        }

        .optionContainer {
          margin-top: 20px;
          font-size: 20px;

          span {
            background: $gray-3;
            padding: 10px 20px;
            border: none;
            margin-right: 35px;

            .tagTitle {
              font-size: 20px;
            }
          }
        }

        .textArea {
          margin-top: 25px;
          font-size: 20px;
          border: solid 10px $gray-2;
          border-radius: 30px;
          resize: none;
        }

        .btnBox {
          .btn {
            border-radius: 10px;
            font-size: 28px;
            padding: 0 50px;
          }

          .commit {
            margin-top: 25px;
          }


          .btn:hover {
            background: $theme-color;
          }
        }

        .disabled {
          cursor: no-drop;
          pointer-events: none;
        }
      }
    }
  }
}

// mobile
@media screen and (max-width: $mobileWidth) {
  .container {
    width: 80%;
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 3em;

    .widthController {
      .title {
        font-size: 1.2em;
        font-weight: bold;
      }

      .scoreContainer {
        padding: 0.5em 1em;
        margin-top: 15px;
        border: solid 2px $gray-2;
        border-radius: 0.5em;

        .top {
          .rateContainer {
            font-size: 1em;
          }

          .antRateText {
            margin-left: 1em;
            font-size: 0.8em;
          }
        }

        .optionContainer {
          margin-top: 1em;
          font-size: 1em;

          span {
            background: $gray-3;
            padding: 0.3em 1em;
            border: none;
            margin: 0.3em 0.5em;

            .tagTitle {
              font-size: 1em;
            }
          }
        }

        .textArea {
          margin-top: 1em;
          font-size: 0.8em;
          border: solid 0.2em $gray-2;
          border-radius: 0.5em;
          resize: none;
        }

        .btnBox {
          .btn {
            border-radius: 0.5em;
            font-size: 0.8em;
            padding: 0.3em 1em;
          }

          .commit {
            margin-top: 10px;
          }

          .btn:hover {
            background: $theme-color;
          }
        }
      }
    }
  }
}
