// 主题色
$theme-color: #0D349A;
// 标准色
$blue-1: #F1F4FB;
$blue-2: #DFEAF7;
$blue-3: #5772B8;
$blue-4: #1E90FF;
$gray-1: #F1F1F1;
$gray-2: #F2F2F2;
$gray-3: #D7D7D7;
$gray-4: #797979;
$gray-5: #6B6B6C;
$gray-6: #333333;
$orange: #F59A23;
$disable: #adadad;
$alpha-blue: rgba($color: #DFEAF7, $alpha: 0.5);
$alpha-black: rgba($color: black, $alpha: 0.1);
// 手机屏幕尺寸
$mobileWidth: 1100px;
// 字体大小
$common: (
        'searchbar-font-1-pc': 18px,
        'searchbar-font-2-pc': 16px,
        'searchbar-font-1-mb': 1.2em,
        'searchbar-font-2-mb': 1em,
        'searchbar-font-3-mb': 0.8em,
        'footer-font-1-pc': 16px,
        'footer-font-2-pc': 16px,
        'footer-font-1-mb': 1em,
        'footer-font-2-mb': 1em,
);
$homepage: (
        'banner-font-1-pc': 36px,
        'banner-font-1-mb': 1.5em,
        'banner-font-2-pc': 20px,
        'banner-font-2-mb': 1em,
        'banner-font-3-pc': 18px,
        'banner-font-3-mb': 0.8em,
        'selection-font-1-pc': 18px,
        'selection-font-1-mb':1em,
        'selection-font-2-pc': 28px,
        'selection-font-2-mb':1em,
);
$navigation: (
        'hint-font-pc': 20px,
        'hint-font-mb': 1.2em,
        'step-font-pc': 16px,
        'step-font-mb': 1em,
        'option-font-pc': 16px,
        'option-font-mb': 1em,
        'return-font-pc': 24px,
        'return-font-mb': 1.2em,
);
// TODO: 将导航结果页面的字体也整理过来
